/**
 * layout.module.csss
 * @author wangbo
 * @since 2021/1/14
 */

.container {
    position: relative;
    margin: 0 auto;
    height: 100vh;
}
.mainWrap {
    max-width: 1240px;
    margin: 0 auto;
    padding: 10px 0;
}

.footer {
    position: absolute;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #CCCCCC;
}
