/**
 * index.module.less
 * @author wangbo
 * @since 2021/1/14
 */
.list {
    padding: 0;
    .item {
        display: inline-block;
        width: 50%;
        text-align: center;
        border-right: 1px solid #00BCD4;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 45px;
        &:last-child {
            border-right: none;
        }
        .itemTitle {
            font-size: 18px;
            color: #00BCD4;
            margin-top: 0;
            margin-bottom: 0;
        }
        .schoolName {
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 300;
        }
        .time {
            color: #8a8a8a;
            margin-bottom: 15px;
            font-size: 14px;
        }
        .desc {
            color: #666;
        }
    }
}
